.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1C2833;
  animation: flipTitle 2s;

  .title {
    font-size: 50px;
    color: #FFF;
  }
  
  @keyframes flipTitle {
    from {
      transform: rotateX(90deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }
  
  .wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5);

    input {
      background-color: transparent;
      border: 0;
      font-size: 20px;
      color: #FFF;
      outline: none;
      margin-right: 8px;

      ::placeholder  {
        color: #f1f1f1;
      }
    }
  }

  .buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;

    :hover {
      transform: scale(1.2);
    }
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 500px;
    border-radius: 8px;

    h2 {
      margin: 16px 0;
      font-size: 26px;
    }
    
    span { margin-bottom: 16px; }
  }
}
